.title {
    font-family: 'Special Elite', cursive;

}
body {
            font-family: 'Oswald', sans-serif;

}
.game-board {
    visibility: hidden;
}

.game-stats {
    visibility: hidden;
    display: inline-flex;
}

.response-section {
    visibility: hidden;
}

.next-btn {
    visibility: hidden;
}

.answers {
    display: inline-flex;
    flex-wrap: wrap;
}