.title {
    font-family: 'Special Elite', cursive;

}
body {
    font-family: 'Oswald', sans-serif;
    

}
.game-board {
    visibility: hidden;
}

.game-stats {
    visibility: hidden;
    display: inline-flex;
    /* justify-content: flex-end; */
}

.response-section {
    visibility: hidden;
}

.next-btn {
    visibility: hidden;
}

/* .question {
    font: h2;
} */
.answers {
    display: inline-flex;
    flex-wrap: wrap;
}